<!-- image slider -->
<div id="carouselExampleIndicators" class="carousel slide image-slider d-block mx-auto rounded-3"
data-bs-ride="carousel" data-bs-interval="3000">
<div class="carousel-inner">

    <div class="carousel-item active">
        <img src="images/home-page-slider/one.jpg" class="d-block w-100 rounded-3" alt="...">
    </div>

    <div class="carousel-item">
        <img src="images/home-page-slider/two.jpg" class="d-block w-100 rounded-3" alt="...">
    </div>

    <div class="carousel-item">
        <img src="images/home-page-slider/three.jpg" class="d-block w-100 rounded-3" alt="...">
    </div>

    <div class="carousel-item">
        <img src="images/home-page-slider/four.jpg" class="d-block w-100 rounded-3" alt="...">
    </div>

    <div class="carousel-item">
        <img src="images/home-page-slider/five.jpg" class="d-block w-100 rounded-3" alt="...">
    </div>

</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<!-- special item -->
<div class="eight-item-list">
<div class="pageBottomContainer">
    <!--Product Cards-->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <!-- Card 1 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/trimmer.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Trimmer</h5>
                        <p class="card-text">Precision trimming made easy</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/watch.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Watch</h5>
                        <p class="card-text">Timeless style on your wrist</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/toy.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Toys</h5>
                        <p class="card-text">Unleash imagination and fun</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/food.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Food</h5>
                        <p class="card-text">Delicious flavors, endless joy</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/mobile.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Mobile</h5>
                        <p class="card-text">Power in your pocket</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/shoes.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Footwear</h5>
                        <p class="card-text">Step into comfort and style</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/speaker.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Speaker</h5>
                        <p class="card-text">Unleash the sound</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col">
                <div class="card h-100 custom-card-size">
                    <img src="images/home-page-slider/decoration.jpg" width="250px" height="250px"
                        class="d-block mx-auto">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h5 class="card-title">Decoration</h5>
                        <p class="card-text">Transform your space</p>
                        <a href="#" class="btn btn-primary btn-view-more">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="solid-line"></div>

<!-- special items 1-->

<h2 class="mt-4 text-center best-deal-text">Today's Best Deal</h2>

<div class="row special-item-1">
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body d-flex align-items-center flex-column">
            <img src="images/home-page-slider/monitor.jpg" alt="" width="200px" height="130px"
                class="d-block mx-auto">
            <h5 class="card-title mt-1">Acer 54.61 cm (21.5 inch) Full HD</h5>
            <p class="card-text">Special price ₹6,999</p>
            <a href="#" class="btn btn-primary btn-grab">Grab the Deal</a>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-body d-flex align-items-center flex-column">
            <img src="images/home-page-slider/camera.jpg" alt="" width="200px" height="130px">
            <h5 class="card-title mt-1">GoPro HERO13 Waterproof with 5.3K60 Video</h5>
            <p class="card-text">Special price ₹42,490</p>
            <a href="#" class="btn btn-primary btn-grab">Grab the Deal</a>
        </div>
    </div>
</div>
</div>

<!-- special item 2 -->
<div class="row special-item-2">
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body d-flex align-items-center flex-column">
            <img src="images/home-page-slider/cycle.jpg" alt="" width="200px" height="130px"
                class="d-block mx-auto">
            <h5 class="card-title mt-1">LEADER Spyder MTB Cycle/Bike</h5>
            <p class="card-text">Special price ₹4,499</p>
            <a href="#" class="btn btn-primary btn-grab">Grab the Deal</a>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-body d-flex align-items-center flex-column">
            <img src="images/home-page-slider/cooker.jpg" alt="" width="200px" height="130px">
            <h5 class="card-title mt-1">BAJAJ 2 L, 3 L, 5 L Inner Lid Pressure Cooker</h5>
            <p class="card-text">Special price ₹1,899</p>
            <a href="#" class="btn btn-primary btn-grab">Grab the Deal</a>
        </div>
    </div>
</div>
</div>

<div class="solid-line"></div>

<!-- special item 3 -->
<h2 class="mt-4 text-center best-deal-text">Just for you</h2>

<div class="card text-center special-item-3">
<div class="card-header">
    Wonder World for Kids: Discover, Learn, Play!
</div>
<div class="card-body">
    <img src="images/home-page-slider/toys.jpg" alt="" class="toys">
    <h5 class="card-title mt-3">The Ultimate Kids’ Paradise – Bigger, Better, Brighter!</h5>
    <p class="card-text">Endless Fun for Kids of All Ages</p>
    <a href="#" class="btn btn-primary btn-explore">EXPLORE IT</a>
</div>
<div class="card-footer text-body-secondary">
    2 days ago
</div>
</div>